.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: $black, $alpha: 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 10px;

    &.active {
        pointer-events: all;
        opacity: 1;

        .modal__content {
            transform: scale(1);
        }
    }
}

.modal__content {
    padding: 20px;
    border-radius: 15px;
    background-color: $white;
    min-width: 300px;
    transform: scale(0.5);
    transition: transform 0.3s ease;
}